<div id="pagehdr" style="width:100%; background-color: rgb(242,242,242);height:65px; padding-left:5px; padding-top:8px;">
	<img src="/images/pb_logo1.jpg" style="float:left">
	<ul style="float:right">
	<li><a href="/logout">Logout</a></li>
	</ul>
	<hr>
</div>
