<div id="searchbar" class="greybg"  style="float:left; width:308px;height:100px; border: 1px solid black; margin-left:5px; ">
  <div id="searchfindhdr" class="greyborder darkblue" style="height:18px ">
    <div class="headerbar" style="float:left;"> Find</div>
    <div id="collapsesearch" class="collapse"></div>
  </div>

  <div id="searchhdr" class="lightblue">Search</div>
  <div id="searchinfo" style="padding:5px;">
	<select id="selecttype" name="selecttype">
		<option value="property">Property</option>
		<option value="series">Series</option>
		<option value="product">Product</option>
		<option value="contact">Contact</option>
	</select>
	<input id="searchfield" name="searchfield" style="width:145px;">
	<input type="button" value="Search" id="searchbtn">
  </div>
  <div id="searchadvhdr" class="lightblue" style="margin-bottom:10px;">
	<img align="absmiddle" src="/images/maximize.png">
        Advanced Search Options</div>
  <div id="searchadv" style="display:none; height:200px;">
 	<div id="searchadvparent" style="display:none"></div>
 	<div id="searchadvseries" style="display:none"></div>
 	<div id="searchadvproduct" style="display:none"></div>
 	<div id="searchadvcontact" style="display:none"></div>
  </div>
  <div id="searchresulthdr" class="lightblue">Result</div>
  <div id="searchresult">
  </div>


<script>
</script>


</div>
<div id="searchbarcollapsed" style="display:none">
    <div id="revealsearch" class="reveal"></div>
</div>


