
<div class='dttr' model_id='<%=@r.id.to_s%>'>
	<div class='dttd' style="width:25%"><%=@r.role%></div>
	<div class='dttd' style="width:25%"><%=@r.contact.first_name%></div>
	<div class='dttd' style="width:25%"><%=@r.contact.last_name%></div>
        <div class='dttd' style="width:25%"><img class="delete" width="16" src="/images/menu_delete.png" /></div>
</div>

		
