
<div class="formattype formatDIGITAL">
        <div class="input rcolumn">
                <label for="vanity"> Vanity URL </label>
                <input id="vm_series_vanity_rul" name="vm_series[vanityurl]" value="<%= @series.vm_series ? @series.vm_series.vanityurl : ""  %>" maxlength=30>
        </div>
</div>


