<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Pb</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <script src="/ckeditor/ckeditor_basic.js"></script>
  <script src="/ckeditor/lang/en.js"></script>
  <script src="/ckeditor/ckeditor_config.js"></script>
</head>
<body>


<%= yield %>

</body>
</html>
